<div class="login-container">
    <h1>Welcome Back</h1>

    <p class="subtitle">
        Sign in to continue to LifeOS
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label>Username</label>

            <input
                type="text"
                formControlName="username"
                placeholder="Enter your username">

            @if(username.invalid && username.touched){
                <small>Email is required.</small>
            }

        </div>

        <div class="form-group">
            <label>Password</label>

            <input
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="Password">

            <button
                type="button"
                class="toggle"
                (click)="togglePassword()">

                {{ showPassword ? 'Hide' : 'Show' }}

            </button>

            @if(password.invalid && password.touched){
                <small>Password is required.</small>
            }
        </div>

        <div class="remember">
            <label>
                <input
                    type="checkbox"
                    formControlName="rememberMe">

                Remember me
            </label>

            <a routerLink="/forgot-password">
                Forgot Password?
            </a>
        </div>

        <button
            type="submit"
            [disabled]="loginForm.invalid || loading">

            {{ loading ? 'Signing In...' : 'Sign In' }}
        </button>
    </form>

    <p class="register">
        Don't have an account?
        <a routerLink="/register">Register</a>
    </p>

</div>